
event-thumb {
	display: block;
	position: relative;

	.thumb-text {
		color: #fff;
		position: absolute;
		text-align: center;
		top: 10%;
		width: 100%;

		.day {
			font-size: 45px;
		}

		.month {
			font-size: 20px;
		}
	}

}

