event-details-page {

	.back-button {
		color: white;
		display: block;
		font-size: large;
		position: absolute;
	}

	.details-content {
		padding: 0 $content-padding
	}

	.title {
		display: block;
		font-size: 30px;
	}

	.subtitle {
		display: block;
		color: grey;
	}
}
