
$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables - Override Ionic variables
$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

// Custom variables
$avatar-img-size: 30px;
$yellow-color: #fdba00fa;
$app-background-color: #f6f6f6;

// App iOS Variables
$item-ios-thumbnail-size: 100px;
$item-ios-avatar-size: 30px;
$searchbar-ios-background-color: $app-background-color;
$searchbar-ios-padding-horizontal: 32px;

// App Material Design Variables
$item-md-thumbnail-size: 100px;
$item-md-avatar-size: 30px;
$searchbar-md-background-color: $app-background-color;
$searchbar-md-padding-horizontal: 32px;

// App Windows Variables
$item-wp-thumbnail-size: 100px;
$item-wp-avatar-size: 30px;
$searchbar-wp-background-color: $app-background-color;
$searchbar-wp-padding-horizontal: 32px;

@import "ionic.theme.default";

@import "ionic.ionicons";

// Fonts
@import "roboto";
@import "noto-sans";
