
$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables - Override Ionic variables
$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

// Custom variables
$thumb-text-width: 100px;
$avatar-img-size: 3rem;
$yellow-color: #fdba00fa;

// App iOS Variables
$item-ios-thumbnail-size: 100px;

// App Material Design Variables
$item-md-thumbnail-size: 100px;

// App Windows Variables
$item-wp-thumbnail-size: 100px;

@import "ionic.theme.default";

@import "ionic.ionicons";

// Fonts
@import "roboto";
@import "noto-sans";
