members {
	align-items: center;
	display: flex;
	padding: 6px 14px;


	ion-avatar {
		display: inline-block;
		margin-left: -10px;

		img {
			height: $member-img-size;
			width: $member-img-size;
			border-radius: $member-img-size;
		}
	}

	.others {
		display: inline-block;
		font-size: 13px;
	}
}
