members {
	align-items: center;
	display: flex;
	padding: 6px 14px;
	width: 100%;

	ion-avatar {
		display: inline-block;
		margin-left: -12px;

		img {
			height: $avatar-img-size;
			width: $avatar-img-size;
		}
	}

	.others {
		display: inline-block;
		font-size: 13px;
	}
}
