<ion-header>
	<ion-navbar>
		<ion-title>
			EVENTS
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-searchbar text-center debounce="500" (ionInput)="filterEvents($event.target.value)" placeholder="Search Event"></ion-searchbar>
	<ion-list>
		<event-group label="Today" [groupList]="todayList" (itemClick)="onItemClick($event)"></event-group>
		<event-group label="This Week" [groupList]="thisWeekList" (itemClick)="onItemClick($event)"></event-group>
		<event-group label="Other" [groupList]="otherList" (itemClick)="onItemClick($event)"></event-group>
	</ion-list>
	<h2 *ngIf="isEmpty && !showError" class="empty-message" text-center>
		No events
	</h2>
	<h2 *ngIf="showError" class="empty-message" text-center>
		Server is not responding. Try again later.
	</h2>
</ion-content>
